<section class="my-2 container" *ngIf="compT">
  <h3 class="text-center text-capitalize p-4">Completed Trainings</h3>

  <p-toast position="top-center"></p-toast>
  <table class="my-5 table table-striped text-center table-responsive-sm table-sm" width="50%">
    <thead>
      <tr class="thead-dark">

        <th scope="col">Techonolgy</th>
        <th scope="col">Trainer Name</th>
        <th scope="col">Start Date</th>
        <th scope="col">End Date</th>
        <th scope="col">Timings</th>
        <th scope="col">Progress</th>
        <th scope="col">Rating</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>

      <tr *ngFor="let i of compT">
        <td>{{i.skillname}}</td>
        <td>{{i.mentorName}}</td>
        <td>{{i.startDate | date: 'dd/MM/yyyy'}}</td>
        <td>{{i.endDate | date: 'dd/MM/yyyy'}}</td>
        <td>{{i.timeSlot}}</td>
        <td>
        {{i.progress}} %
        </td>
        <td>
          {{i.rating}}</td>
        <td>
          <button type="button" class="btn btn-sm btn-success" data-toggle="modal" data-target="#myModal"
            (click)="giveRatings(i.id)">Give Ratings</button>
        </td>
      </tr>
    </tbody>
  </table>
  <div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content" *ngIf="model">
        <form>
          <div class="modal-header">
            <h4 class="modal-title">Update Ratings</h4>
          </div>
          <div class="modal-body text-center">
            <select class="dropdown rounded" name="rating" [(ngModel)]="model.rating">
                <option class="dropdown-item" value="0" selected disabled>Select Ratings</option>
                
                <option class="dropdown-item" value="1" selected>1</option>
                
                <option class="dropdown-item" value="2" selected>2</option>
                
                <option class="dropdown-item" value="3" selected>3</option>
                
                <option class="dropdown-item" value="4" selected>4</option>
                
                <option class="dropdown-item" value="5" selected>5</option>
            </select>
          </div>

          <div class="modal-footer">
            <button class="btn d-inline" (click)="updateRatings(model.id)"><i class="fas fa-edit"></i></button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>